{% extends "base.html" %}

{% block content %}

{% if visos_paskaitos %}
{% for paskaita in visos_paskaitos %}
<hr>
<p>{{paskaita.pavadinimas}}</p>
{% if paskaita.destytojas %}
<p><b>Dėstytojas:</b> {{paskaita.destytojas.vardas}} {{paskaita.destytojas.pavarde}}</p>
{% endif %}
{% if paskaita.studentai %}
<p><b>Studentai:</b></p>
{% for studentas in paskaita.studentai %}
<p>{{studentas.vardas}} {{studentas.pavarde}}</p>
{% endfor %}
{% endif %}
<a href="{{ url_for('istrinti_paskaita', id=paskaita['id']) }}">Ištrinti</a>
<a href="{{ url_for('redaguoti_paskaita', id=paskaita['id']) }}">Redaguoti</a>
{% endfor %}
{% endif %}
<hr>
<p><a href="{{ url_for('nauja_paskaita')}}">Nauja paskaita</a></p>

{% endblock %}