{% extends "base.html" %}

{% block content %}

{% if visi_studentai %}
{% for studentas in visi_studentai %}
<hr>
<p>{{studentas.vardas}} {{studentas.pavarde}}</p>
{% if studentas.paskaitos %}
<p>Paskaitos:</p>
{% for paskaita in studentas.paskaitos %}
<p>{{paskaita.pavadinimas}} </p>
{% endfor %}
{% endif %}
<a href="{{ url_for('istrinti_studenta', id=studentas['id']) }}">Ištrinti</a>
{% endfor %}
{% endif %}
<hr>
<p><a href="{{ url_for('naujas_studentas')}}">Naujas studentas</a></p>

{% endblock %}